/* --universal-- */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* --header-- */

header {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
}

header .logo {
  display: inline-flex;
  flex-grow: 1;
  width: auto;
  padding-left: 24px;
}

header .logo img {
  height: 32px;
}

header .logo span {
  display: flex;
  line-height: 32px;
}

header h1 {
  font-weight: 500;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav span {
  display: flex;
  padding-left: 16px;
}

header nav #end {
  padding-right: 24px;
}
